* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.card {
    background-color: #ffffff;
    width: 90%;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #0000005c;
    height: 95vh;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.inta {
    text-decoration: none;
    color: rgb(35, 157, 237);
}

.inta:hover{
    color: rgb(27, 131, 201);
}

.cardimg {
    width: 100px;
    height: 100px;
}

img.cardimg {
    border-radius: 50px;
    border-color: 10px solid #000000;
}

.text {
    color: rgb(92, 92, 92);
}

.link {
    font-size: 30px;
    margin: 10px;
    border-radius: 100px;
    width: 80%;
    height: 100px;
    background-color: #f5f5f5;
    border: none;
    /* Font Style */
    font-size: 20px;
    text-decoration: none;
    color: black;
    outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
}

@media screen and (min-width: 480px) {
    .link {
        font-size: 30px;
        margin: 10px;
        border-radius: 100px;
        width: 30%;
        height: 100px;
        background-color: #f5f5f5;
        border: none;
        /* Font Style */
        font-size: 20px;
        text-decoration: none;
        color: black;
        outline: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
    }
}

button {
    outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
}

.link:hover {
    background-color: #f0f0f0;
    padding: 30px;
    cursor: pointer;
}

img.cardimg1 {
    border-radius: 50px;
    border-color: 10px solid #000000;
}

.card-content{
    margin: 10px;
}

