@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  backdrop-filter: blur(40px);
  background-image: url(/content/hero_light.jpg);
  font-family: 'Poppins';
  background-color: #f5f5f5;
}
nav{
  backdrop-filter: blur(90px);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 3px 3px 5px #6b6b6b81;
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
  transition: all 0.5s;
}
nav a:hover{
  background-color: #249ded11;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.932);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10000;
  backdrop-filter: blur(50px);
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
.showOnMobile {
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .showOnMobile{
    display: block;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

.page{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  font-size: 20px;
}

.flex {
  display: flex;
}

.profile-content {
  width: 90%;
  text-align: center;
  height: 80vh;
  margin-top: 5vh;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5vh;
  border-radius: 30px;
  background-color: #ffffffc8;
  backdrop-filter: blur(50px);
  min-height: 850px;
}

.profile-content h1,h2,h3,h4,h5,h6,p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.profile {
  width: 110px;
  height: 110px;
  border: 5px solid gray;
  border-radius: 100px;
  transition: all 0.5s;
}

.profile:hover {
  border: 5px solid #0075c4;
}

@keyframes changecolor {
  0%{color: #fe0000;}
  40%{color: #3cf10e}
  80%{color: #0024ff}
  90%{color: #c500ff}
  95%{color: #ff009c}
  100%{color: #fe0000}
}

.name {
  font-size: 35px;
  font-family: 'Roboto Slab', serif;
  animation-name: changecolor;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.twitterhash-3 {
  text-decoration: none;
  font-weight: 400;
  color: rgb(0, 0, 0);
  transition: color 1s;
  
}

.twitterhash-3:hover {
  color: rgb(35, 157, 237);
  cursor: pointer;
}

.twitterhash {
  text-decoration: none;
  font-weight: 400;
  color: rgb(35, 157, 237);
  transition: color 1s;
}

.twitterhash:hover {
  color: rgb(26, 120, 183);
}

.description {
  font-size: 19px;
}

hr {
  margin: 20px;
  border: 1px solid #000;
  background-color: #000;
  height: 5px;
  border-radius: 100px;
  margin-top: 60px;
  margin-bottom: 60px;
  transition: all 0.5s;
}

.middle {
  margin-top: 0px;
  margin-bottom: 0px;
}

hr:hover {
  border: 1px solid #0074bd;
  background-color: #0074bd;
}

p {
  font-size: 18px;
}

.font-2 {
  font-family: 'Monomaniac One';
  font-size: 45px;
}

.project {
  width: 90%;
  max-width: 550px;
  border-radius: 20px;
  -webkit-transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out;
}

.project:hover {
  cursor: none;
  transform: scale(1.05);
}

.project-2 {
  width: 90%;
  max-width: 500px;
  border-radius: 20px;
  -webkit-transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out;
}

.project-2:hover {
  cursor: none;
  transform: scale(1.05);
}

.twitterhash-2{
  text-decoration: none;
  font-weight: 600;
  color: rgb(35, 157, 237);
}

.about-text {
  font-size: 35px;
  font-family: 'Roboto Slab';
  text-align: center;
}

.profile-about-size {
  width: 200px;
  border: 5px solid gray;
  border-radius: 100000px;
  transition: all 0.5s;
}

.profile-about-size:hover {
  border: 5px solid #0074bd;
}

.about-content {
  background-color: #ffffffe7;
  backdrop-filter: blur(40px);
  text-align: center;
  width: 50%;
  height: 85vh;
  min-height: 600px;
}

.project-content {
  background-color: #ffffffe7;
  backdrop-filter: blur(40px);
  text-align: center;
  width: 50%;
  height: 85vh;
  min-height: 700px;
}

.project-content-border-right {
  border-right: 5px solid #000;
}

.about-content-border-right {
  border-right: 5px solid #000;
}

.current-page {
  background-color: #00000004;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}

.flex-about_content {
  display: flex;
  width: 100%;
  height: 100%;
}

.flex-project_content {
  display: flex;
  width: 100%;
  height: 100%;
}

.about-content-mobile {
  background-color: #ffffffe7;
  backdrop-filter: blur(40px);
  text-align: center;
  width: 100%;
}

.social_media-content {
  background-color: #ffffffe7;
  backdrop-filter: blur(40px);
  text-align: center;
  width: 100%;
  height: 92vh;
  min-height: 800px;
  
}

.profile_media-size {
  width: 150px;
  border: 5px solid gray;
  transition: all 0.5s;
  border-radius: 100000px;
}

.profile_media-size:hover{
  border: 5px solid #0074bd;
}

.profile_media-size-mobile {
  width: 110px;
  border: 5px solid gray;
  border-radius: 100000px;
  transition: all 0.5s;
}

.profile_media-size-mobile:hover {
  border: 5px solid #0074bd;
}

.social_media-link {
  padding: 40px;
  min-width: 350px;
  border-radius: 50px;
  border: none;
  width: 25%;
  font-size: 19px;
  font-weight: 400;
  font-family: 'Poppins';
  margin-bottom: 30px;
  background-color: #ffffffcc;
  transition: background-color 0.5s, color 0.5s;
}

.social_media-link-mobile {
  padding: 40px;
  border-radius: 50px;
  border: none;
  width: 80%;
  font-size: 19px;
  font-weight: 400;
  font-family: 'Poppins';
  margin-bottom: 30px;
  background-color: #ffffffcc;
  transition: background-color 0.5s, color 0.5s;
}

.social_media-link-mobile:hover {
  background-color: #f8f8f8cc;
  color: rgb(35, 157, 237);
  cursor: pointer;
}

a {
  text-decoration: none;
}

.social_media-link:hover {
  background-color: #f8f8f8cc;
  color: rgb(35, 157, 237);
  cursor: pointer;
}

.icon {
  border-radius: 100px;
  width: 35px;
}

#copyright {
  background-color: #000;
  color: white;
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 0px;
  margin-bottom: 0;
  transition: all 0.5s;
}

#copyright:hover {
  background-color: #555555;
}

.profile-content-mobile {
  width: 90%;
  text-align: center;
  height: 80vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 30px;
  background-color: #ffffffc8;
  backdrop-filter: blur(50px);
  min-height: 850px;
}

.profile-content-mobile h1,h2,h3,h4,h5,h6,p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

a, button, select{
  -webkit-tap-highlight-color: transparent;
}

.readme-content {
  border-radius: 10px;
  border: 1px solid #8f8f8f;
  margin: 10px;
  height: 80vh;
  text-align: left;
}

.directory-text {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  font-size: 16px;
  margin-left: 10px;
  text-align: left;
  margin-top: 10px;
  font-family: 'Ubuntu Mono', sans-serif;
  margin-bottom: 20px;
}

.readme-title {
  margin-left: 10px;
  margin-bottom: 15px;
  font-weight: 600;
  text-align: left;
}

.text-align-left {
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
}

::-moz-selection {
  background: #249ded2d;
  color: #000000;
}

::selection {
  background: #249ded2d;
  color: #000000;
}

.project-wrapper {
  margin-top: 5%;
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
  h1,h2,h3,h4,h5,h6,p {
    color: white;
  }

  .profile-content {
    background-color: #222222c8;
  }

  .profile-content-mobile {
    background-color: #222222c8;
  }

  .profile-content-mobile h1,h2,h3,h4,h5,h6,p {
    color: white;
  }
  
  .profile-content h1,h2,h3,h4,h5,h6,p {
    color: white;
  }

  hr {
    background-color: #fff;
    border-color: 1px solid #fff;
  }

  hr:hover {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
  }

  .profile:hover {
    border: 5px solid #f5f5f5;
  }

  nav{
    background-color: rgba(56, 56, 56, 0.9);
  }

  nav a {
    color: #fff;
  }

  nav a:hover {
    background-color: #249ded44;
  }

  .current-page {
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    background-color: #ffffff33;
  }

  .page {
    color: #fff;
  }

  body {
    background-image: url("content/hero_dark.jpg");
  }

  .menu-button {
    background-color: #fff;
  }

  .sidebar{
    background-color: rgba(0, 0, 0, 0.932);
  }

  .about-content {
    background-color: #00000085;
    transition: all 0.5s;
  }
  
  .project-content {
    background-color: #00000085;
    transition: all 0.5s;
  }

  .profile-about-size:hover {
    border: 5px solid #fff;
  }

  .project-content-border-right {
    border-right: 5px solid #fff;
  }

  .about-content-border-right {
    border-right: 5px solid #fff;
  }

  .about-text {
    color: white;
  }

  .about-content-mobile {
    background-color: #00000085;
  }


  
  .profile_media-size,
  .profile_media-size-mobile:hover {
    border: 5px solid #fff;
  }

  .profile_media-size-mobile:hover {
    border: 5px solid #fff;
  }

  .social_media-content {
    background-color: #00000085;
  }

  .social_media-link {
    background-color: #000000cc;
    color: #fff;
    border: 3px solid rgba(35, 156, 237, 0.589);
  }

  .social_media-link:hover {
    background-color: #ffffff38;
    border: 3px solid rgb(35, 157, 237);
  }

  .social_media-link-mobile {
    background-color: #000000cc;
    color: #fff;
    border: 3px solid rgba(35, 156, 237, 0.589);
  }

  .social_media-link-mobile:hover {
    background-color: #ffffff38;
    border: 3px solid rgb(35, 157, 237);
  }

  .menu-button:hover {
    background-color: #fff;
  }
  
  .readme-content {
    border: 1px solid #ffffff;
  }
  
  .twitterhash-3 {
    color: white;
  }

  ::-moz-selection {
    background: #249ded2d;
    color: #ffffff;
  }
  
  ::selection {
    background: #249ded2d;
    color: #ffffff;
  }
}

