@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  cursor: none;
}

body {
  min-height: 100vh;
  backdrop-filter: blur(40px);
  font-family: 'Poppins';
  background-color: rgb(143, 255, 222);
  background: linear-gradient(143deg, rgba(143, 255, 222, 1) 0%, rgba(172, 189, 255, 1) 49%, rgba(245, 227, 255, 1) 83%, rgba(254, 165, 255, 1) 100%);
}

#no-right-click-message {
  position: sticky;
  padding: 10px;
  text-align: center;
  z-index: 10000;
  opacity: 0;
  transition: all 0.5s;
}

#cursor {
  margin-top: -25px;
  position: sticky;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 10000px;
  background-color: #00000044;
  box-shadow: 3px 3px 3px #00000029;
  pointer-events: none;
  z-index: 100000;
  transition: all 0.09s;
}

#cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav {
  backdrop-filter: blur(90px);
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 5px 5px 5px #00000018;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.5s;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
  transition: all 0.5s;
}

nav a:hover {
  transform: scale(1.2);
}

.current-page:hover {
  transform: scale(1);
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0px;
  right: -500px;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.932);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10000;
  backdrop-filter: blur(50px);
  transition: all 0.5s;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
  transition: all 0.5s;
  background-color: #00000000;
}

.closeButton:hover {
  background-color: rgba(255, 135, 135, 0.2);
}

.showOnMobile {
  display: none;
}

@media(max-width:800px) {
  * {
    cursor: default;
  }

  #cursor {
    display: none;
  }

  .hideOnMobile {
    display: none;
  }

  .showOnMobile {
    display: block;
  }

  .menu-button {
    display: block;
  }

  .menu-button-first:hover {
    transform: rotate(-90deg);
    background-color: #ffffff00;
  }

  nav a:hover {
    transform: scale(1);
    margin-left: 0px;
    background-color: #00000010;
  }
}

@media(max-width:400px) {
  .sidebar {
    width: 100%;
  }
}

.page {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  font-size: 20px;
}

.flex {
  display: flex;
}

.profile-content {
  width: 90%;
  text-align: center;
  height: 80vh;
  margin-top: 2vh;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5vh;
  border-radius: 30px;
  background-color: #ffffffc8;
  backdrop-filter: blur(50px);
  min-height: 850px;
}

.profile-content h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.profile {
  margin-top: 20px;
  width: 110px;
  height: 110px;
  border: 5px solid gray;
  border-radius: 100px;
  transition: all 0.5s;
}

.profile:hover {
  border: 5px solid #505050;
}

@keyframes changecolor {
  0% {
    color: #fe0000;
  }

  40% {
    color: #3cf10e
  }

  80% {
    color: #0024ff
  }

  90% {
    color: #c500ff
  }

  95% {
    color: #ff009c
  }

  100% {
    color: #fe0000
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.name {
  font-size: 35px;
  font-family: 'Roboto Slab', serif;
  color: #cf5a2d;
  background-image: -webkit-linear-gradient(45deg, #cf5a2d 14%, #d903fe 36%, #1cfe8e 74%);background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
        
}

.twitterhash-3 {
  text-decoration: none;
  font-weight: 400;
  color: rgb(0, 0, 0);
  transition: color 1s;
}

.twitterhash-3:hover {
  color: rgb(26, 120, 183);
}

.twitterhash {
  text-decoration: none;
  font-weight: 400;
  color: rgb(35, 157, 237);
  transition: color 1s;
}

.twitterhash:hover {
  color: rgb(26, 120, 183);
}

.description {
  font-size: 19px;
}

hr {
  margin: 20px;
  border: 1px solid #000;
  background-color: #000;
  height: 5px;
  border-radius: 100px;
  margin-top: 60px;
  margin-bottom: 60px;
  transition: all 0.5s;
}

.middle {
  margin-top: 0px;
  margin-bottom: 0px;
}

hr:hover {
  border: 1px solid #505050;
  background-color: #505050;
}

p {
  font-size: 18px;
}

.font-2 {
  font-family: 'Monomaniac One';
  font-size: 45px;
}

.project {
  width: 90%;
  max-width: 550px;
  border-radius: 20px;
  -webkit-transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out;
}

.project:hover {
  transform: scale(1.05);
}

.project-2 {
  width: 90%;
  max-width: 500px;
  border-radius: 20px;
  -webkit-transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out;
}

.project-2:hover {
  transform: scale(1.05);
}

.twitterhash-2 {
  text-decoration: none;
  font-weight: 600;
  color: rgb(35, 157, 237);
}

.about-text {
  font-size: 35px;
  font-family: 'Roboto Slab';
  text-align: center;
}

.profile-about-size {
  margin-top: 20px;
  width: 200px;
  border: 5px solid gray;
  border-radius: 100000px;
  transition: all 0.5s;
}

.profile-about-size:hover {
  border: 5px solid #505050;
}

.about-content {
  background-color: #ffffffe7;
  backdrop-filter: blur(40px);
  text-align: center;
  width: 50%;
  height: 85vh;
  min-height: 600px;
}

.project-content {
  background-color: #ffffffe7;
  backdrop-filter: blur(40px);
  text-align: center;
  width: 50%;
  height: 85vh;
  min-height: 700px;
}

.project-content-border-right {
  border-right: 5px solid #000;
}

.about-content-border-right {
  border-right: 5px solid #000;
}

.current-page {
  background-color: #00000004;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}

.flex-about_content {
  display: flex;
  width: 100%;
  height: 100%;
}

.flex-project_content {
  display: flex;
  width: 100%;
  height: 100%;
}

.about-content-mobile {
  background-color: #ffffffe7;
  backdrop-filter: blur(40px);
  text-align: center;
  width: 100%;
}

.social_media-content {
  background-color: #ffffffe7;
  backdrop-filter: blur(40px);
  text-align: center;
  width: 100%;
  height: 92vh;
  min-height: 950px;
}

.profile_media-size {
  margin-top: 20px;
  width: 150px;
  border: 5px solid gray;
  transition: all 0.5s;
  border-radius: 100000px;
}

.profile_media-size:hover {
  border: 5px solid #505050;
}

.profile_media-size-mobile {
  width: 110px;
  border: 5px solid gray;
  border-radius: 100000px;
  transition: all 0.5s;
}

.profile_media-size-mobile:hover {
  border: 5px solid #505050;
}

.social_media-link {
  padding: 40px;
  min-width: 350px;
  border-radius: 50px;
  border: none;
  width: 20%;
  font-size: 19px;
  font-weight: 400;
  font-family: 'Poppins';
  margin-bottom: 30px;
  background-color: #ffffffcc;
  box-shadow: 5px 5px 5px #0000001c;
  transition: all 0.5s;
  margin: 20px;
}

.social_media-link-mobile {
  padding: 40px;
  border-radius: 50px;
  min-width: 300px;
  border: none;
  width: 80%;
  font-size: 19px;
  font-weight: 400;
  font-family: 'Poppins';
  margin-bottom: 30px;
  background-color: #ffffffcc;
  box-shadow: 5px 5px 5px #0000001c;
  transition: all 0.5s;
  margin: 20px;
}

.social_media-link-mobile:hover,
.social_media-link:hover {
  background-color: #fdfdfdcc;
  box-shadow: 10px 10px 10px #0000001c;
  color: rgb(35, 157, 237);
}

.button-container-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#secret-disappear {
  transition: all 1s;
}

#loader,
#loader-mobile {
  border: 10px solid #e7e7e7;
  border-top: 10px solid #000000;
  border-radius: 50%;
  width: 40px;
  display: none;
  margin: 10px;
  height: 40px;
  animation: spin 1.5s linear infinite;
}

.sc-embed-cd {
  transition: all 0.5s;
  transform: scale(0);
  display: none;
}

a {
  text-decoration: none;
}

.icon {
  border-radius: 100px;
  width: 35px;
}

#copyright {
  background-color: #000;
  color: white;
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 0px;
  margin-bottom: 0;
  transition: all 0.5s;
}

#copyright:hover {
  background-color: #555555;
}

.profile-content-mobile {
  width: 90%;
  text-align: center;
  height: 80vh;
  margin-top: 0;
  margin-bottom: 5vh;
  border-radius: 30px;
  background-color: #ffffffc8;
  backdrop-filter: blur(50px);
  min-height: 850px;
}

.profile-content-mobile h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

a,
button,
select {
  -webkit-tap-highlight-color: transparent;
}

.readme-content {
  border-radius: 10px;
  border: 1px solid #8f8f8f;
  margin: 10px;
  height: 80vh;
  min-height: 530px;
  text-align: left;
}

.directory-text {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  font-size: 16px;
  margin-left: 10px;
  text-align: left;
  margin-top: 10px;
  font-family: 'Ubuntu Mono', sans-serif;
  margin-bottom: 20px;
}

.readme-title {
  margin-left: 10px;
  margin-bottom: 15px;
  font-weight: 600;
  text-align: left;
}

.text-align-left {
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
}

::-moz-selection {
  background: #74cfb42d;
  color: #000000;
}

::selection {
  background: #74cfb42d;
  color: #000000;
}

.project-wrapper {
  margin-top: 10%;
}

.dark_mode-github {
  display: none;
}

.underline {
  text-decoration: underline;
}

#secret-onclick:hover {
  width: 180px;
}

#secret-onclick-mobile:hover {
  width: 150px;
}

/* 404 */
.err-emoji {
  font-size: 70px;
  font-family: 'Roboto Slab';
  text-align: center;
  color: #6c6c6c;
  animation: changecolor 15s infinite alternate-reverse;
}

.err-emoji-mobile {
  font-size: 50px;
  font-family: 'Roboto Slab';
  text-align: center;
  color: #6c6c6c;
  animation: changecolor 15s infinite alternate-reverse;
}

.error-content {
  background-color: #ffffffe7;
  backdrop-filter: blur(40px);
  text-align: center;
  width: 100%;
  height: 92vh;
  min-height: 800px;
}

/* Dark Mode */
@media (prefers-color-scheme:dark) {
  #cursor {
    margin-top: -25px;
    position: sticky;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 10000px;
    background-color: #ffffff44;
    pointer-events: none;
    z-index: 100000;
    transition: transform 0.1s ease-out;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: white;
  }

  .profile-content {
    background-color: #222222c8;
  }

  .profile-content-mobile {
    background-color: #222222c8;
  }

  .profile-content-mobile h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: white;
  }

  .profile-content h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: white;
  }

  .name {
    color: #dc88cc;
    background-image: -webkit-linear-gradient(45deg, #dc88cc 16%, #09a8ae 91%); background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  hr {
    background-color: #fff;
    border-color: 1px solid #fff;
  }

  hr:hover {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
  }

  .profile:hover {
    border: 5px solid #f5f5f5;
  }

  nav {
    background-color: rgba(56, 56, 56, 0.85);
  }

  nav a {
    color: #fff;
  }

  .current-page {
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    background-color: #ffffff33;
  }

  .page {
    color: #fff;
  }

  body {
    background-color: #303030;
    background: linear-gradient(13deg, rgb(48, 24, 59) 0%, rgb(8, 70, 95) 100%);
  }

  .menu-button {
    background-color: #fff;
  }

  .sidebar {
    background-color: rgba(0, 0, 0, 0.932);
  }

  .about-content {
    background-color: #00000085;
    transition: all 0.5s;
  }

  .project-content {
    background-color: #00000085;
    transition: all 0.5s;
  }

  .profile-about-size:hover {
    border: 5px solid #f5f5f5;
  }

  .project-content-border-right {
    border-right: 5px solid #fff;
  }

  .about-content-border-right {
    border-right: 5px solid #fff;
  }

  .about-text {
    color: white;
  }

  .about-content-mobile {
    background-color: #00000085;
  }

  .profile_media-size:hover {
    border: 5px solid #f5f5f5;
  }

  .profile_media-size-mobile:hover {
    border: 5px solid #fff;
  }

  .social_media-content {
    background-color: #00000085;
  }

  .social_media-link {
    background-color: #ffffff1a;
    color: #fff;
    border: none;
  }

  .social_media-link:hover {
    background-color: #ffffff28;
  }

  .social_media-link-mobile {
    background-color: #ffffff1a;
    color: #fff;
  }

  .social_media-link-mobile:hover {
    background-color: #ffffff28;
  }

  .menu-button:hover {
    background-color: #fff;
  }

  .readme-content {
    border: 1px solid #ffffff;
  }

  .twitterhash-3 {
    color: white;
  }

  ::-moz-selection {
    background: #91a0fc2d;
    color: #000000;
  }

  ::selection {
    background: #91a0fc2d;
    color: #ffffff;
  }

  .dark_mode-github {
    display: block;
  }

  .light_mode-github {
    display: none;
  }

  .pills {
    background-color: #3f3f3fc7;
  }

  .input_label {
    color: #fff;
  }
  /* 404 */
  .err-emoji, .err-emoji-mobile {
    color: #fff;
  }

  .error-content {
    background-color: #00000085;
  }
}